<?xml version="1.0"?>
<config>
    <modules>
        <Retailon_Commission>
            <version>0.1.0</version>
        </Retailon_Commission>
    </modules>
    <frontend>
        <routers>
            <discount>
                <use>standard</use>
                <args>
                    <module>Retailon_Commission</module>
                    <frontName>discounthmode</frontName>
                </args>
            </discount>
        </routers>
    </frontend>
    <admin>
        <routers>
            <myrouter>
                <use>admin</use>
                <args>
                    <module>Retailon_Commission</module>
                    <frontName>admincom</frontName>
                </args>
            </myrouter>
        </routers>
    </admin>
    <!--<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <retailon_commission before="Mage_Adminhtml">Retailon_Commission_Adminhtml</retailon_commission>
                    </modules>
                 </args>
            </adminhtml>
        </routers>
    </admin>-->
    <adminhtml>
        <layout>
            <updates>
                <retailon_commission>
                    <file>calcom.xml</file>
                </retailon_commission>
            </updates>
        </layout>
    </adminhtml>
    <global>
	<helpers>
	  <retailon_commission>
        <class>Retailon_Commission_Helper</class>
      </retailon_commission>
    </helpers>
        <models>
            <commission>
                <class>Retailon_Commission_Model</class>
                <resourceModel>commission_resource</resourceModel>
            </commission>
            <commission_resource>
                <class>Retailon_Commission_Model_Resource</class>
                <entities>
                    <commission>
                        <table>commission</table>
                    </commission>
                    <history>
                        <table>history</table>
                    </history>
                    <sellercomm>
                       <table>seller_commission_calculate</table>
                    </sellercomm> 
                    <sellershow>
                       <table>seller_commission_show</table>
                    </sellershow>   
                    <youlo>
                       <table>retailon_discount</table>
                    </youlo>
                    <seller>
                       <table>retailon_seller_settings</table>
                    </seller>
                </entities>
            </commission_resource>
        </models>
	<resources>
        <commission_setup>
            <setup>
                <module>Retailon_Commission</module>
             </setup>
           <connection>
                <use>core_setup</use>
            </connection>
        </commission_setup>
        <commission_write>
            <connection>
                <use>core_write</use>
            </connection>
        </commission_write>
        <commission_read>
            <connection>
                <use>core_read</use>
            </connection>
        </commission_read>
    </resources>
        <blocks>
            <myblock>
                <class>Retailon_Commission_Block</class>
            </myblock>
        </blocks>
         <events>
            <catalog_product_save_after>
                <observers>
                    <yourmodule_a>
                        <type>singleton</type>
                        <class>Retailon_Commission_Model_Observer</class>
                        <method>catalog_product_save_after</method>
                    </yourmodule_a>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <yourmodule_b>
                        <type>singleton</type>
                        <class>Retailon_Commission_Model_Observer</class>
                        <method>catalog_product_delete_after</method>
                    </yourmodule_b>
                </observers>
            </catalog_product_delete_after>
          </events>
    </global>
</config>