<?xml version="1.0"?>

<config>
    <modules>
        <Retailon_Marketplace>
            <version>1.0.0</version>
        </Retailon_Marketplace>
    </modules>
    <crontab>
        <jobs>
            <sales_commission_update>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run>
                    <model>retailon_marketplace/observer::updateSalesCommission</model>
                </run>
            </sales_commission_update>
        </jobs>
    </crontab>
    <global>
        <helpers>
            <marketplace>
                <class>Retailon_Marketplace_Helper</class>
            </marketplace>
        </helpers>
        <models>
            <marketplace>
                <class>Retailon_Marketplace_Model</class>
                <resourceModel>marketplace_mysql4</resourceModel>
            </marketplace>

            <marketplace_mysql4>
                <class>Retailon_Marketplace_Model_Mysql4</class>
                <entities>
                    <marketplaceproducts>
                        <table>retailon_marketplace_products</table>
                    </marketplaceproducts>
                    <retailon_vendor_orders>
                        <table>retailon_vendor_orders</table>
                    </retailon_vendor_orders>
                    <marketplace>
                        <table>retailon_marketplace</table>
                    </marketplace>
                    <commission>
                        <table>retailon_commission</table>
                    </commission>
                    <commissionhistory>
                        <table>retailon_commissionhistory</table>
                    </commissionhistory>
                </entities>
            </marketplace_mysql4>

            <catalog>
                <rewrite>
                    <product>Retailon_Marketplace_Model_Product</product>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <marketplace>
                <class>Retailon_Marketplace_Block</class>
            </marketplace>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Retailon_Marketplace_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <catalog_product_grid>Retailon_Marketplace_Block_Adminhtml_Catalog_Product_Grid
                    </catalog_product_grid>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_history>Retailon_Marketplace_Block_Sales_Order_History</order_history>
                    <order_recent>Retailon_Marketplace_Block_Sales_Order_Recent</order_recent>
                    <order_view>Retailon_Marketplace_Block_Sales_Order_View</order_view>
                </rewrite>
            </sales>
        </blocks>
        <resources>
            <marketplace_setup>
                <setup>
                    <module>Retailon_Marketplace</module>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </marketplace_setup>

            <marketplace_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </marketplace_write>

            <marketplace_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </marketplace_read>
        </resources>

        <template>
            <email>
                <retailon_marketplace_email>
                    <label>Marketplace Vendor New Order Email</label>
                    <file>marketplace/vendor_order_new.html</file>
                    <type>html</type>
                </retailon_marketplace_email>
            </email>
        </template>

        <events>
            <sales_order_save_after>
                <observers>
                    <retailon_marketplace_orderobserver>
                        <type>singleton</type>
                        <class>Retailon_Marketplace_Model_Orderobserver</class>
                        <method>orderSaved</method>
                    </retailon_marketplace_orderobserver>
                </observers>
            </sales_order_save_after>
            <marketplace_order_after_cancel>
                <observers>
                    <retailon_marketplace_orderobserver>
                        <type>singleton</type>
                        <class>Retailon_Marketplace_Model_Orderobserver</class>
                        <method>afterOrderCancel</method>
                    </retailon_marketplace_orderobserver>
                </observers>
            </marketplace_order_after_cancel>
        </events>
    </global>

    <default>
        <marketplace>
            <marketplace>
                <vendors_role></vendors_role>
                <notify_vendors>1</notify_vendors>
                <notify_order_status>processing</notify_order_status>
                <email_template></email_template>
                <email_from_name>My Store</email_from_name>
                <email_from>my@store.com</email_from>
            </marketplace>
        </marketplace>
    </default>

    <adminhtml>
        <events>
            <admin_user_save_after>
                <observers>
                    <retailon_marketplace_observer>
                        <type>singleton</type>
                        <class>Retailon_Marketplace_Model_Observer</class>
                        <method>adminUserSaveAfter</method>
                    </retailon_marketplace_observer>
                </observers>
            </admin_user_save_after>
            <catalog_product_collection_load_before>
                <observers>
                    <retailon_marketplace_productobserver>
                        <type>singleton</type>
                        <class>Retailon_Marketplace_Model_Productobserver</class>
                        <method>limitUsers</method>
                    </retailon_marketplace_productobserver>
                </observers>
            </catalog_product_collection_load_before>

            <catalog_product_save_after>
                <observers>
                    <retailon_marketplace_productobserver>
                        <type>singleton</type>
                        <class>Retailon_Marketplace_Model_Productobserver</class>
                        <method>newProduct</method>
                    </retailon_marketplace_productobserver>
                </observers>
            </catalog_product_save_after>

            <catalog_product_edit_action>
                <observers>
                    <retailon_marketplace_productobserver>
                        <type>singleton</type>
                        <class>Retailon_Marketplace_Model_Productobserver</class>
                        <method>editProduct</method>
                    </retailon_marketplace_productobserver>
                </observers>
            </catalog_product_edit_action>

            <catalog_product_delete_before>
                <observers>
                    <retailon_marketplace_productobserver>
                        <type>singleton</type>
                        <class>Retailon_Marketplace_Model_Productobserver</class>
                        <method>deleteProduct</method>
                    </retailon_marketplace_productobserver>
                </observers>
            </catalog_product_delete_before>
        </events>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <marketplace translate="title" module="marketplace">
                                            <title>Multi Vendor Marketplace</title>
                                        </marketplace>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

        <layout>
            <updates>
                <retailon_marketplace>
                    <file>marketplace.xml</file>
                </retailon_marketplace>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <marketplace>
                <use>admin</use>
                <args>
                    <module>Retailon_Marketplace</module>
                    <frontName>marketplace</frontName>
                    <modules>
                        <Retailon_Marketplace before="-">Retailon_Marketplace_Adminhtml</Retailon_Marketplace>
                    </modules>
                </args>
            </marketplace>
        </routers>
    </admin>

    <frontend>
        <routers>
            <marketplace>
                <use>standard</use>
                <args>
                    <frontName>marketplace</frontName>
                    <module>Retailon_Marketplace</module>
                </args>
            </marketplace>
        </routers>
    </frontend>
</config>
