<?xml version="1.0"?>
<config>
  <modules>
    <Retailon_Storeconf>
      <version>0.1.0</version>
    </Retailon_Storeconf>
  </modules>
    <frontend>
        <routers>
            <storeconf>
                <use>standard</use>
                <args>
                    <module>Retailon_Storeconf</module>
                    <frontName>storeconf</frontName>
                </args>
            </storeconf>
        </routers>
    </frontend>
  <global>
    <helpers>
      <storeconf>
        <class>Retailon_Storeconf_Helper</class>
      </storeconf>
    </helpers>
	<blocks>
	  <storeconf>
		<class>Retailon_Storeconf_Block</class>
	  </storeconf>
	</blocks>
	<models>
	  <storeconf>
		<class>Retailon_Storeconf_Model</class>
		<resourceModel>storeconf_mysql4</resourceModel>
	  </storeconf>
	  <storeconf_mysql4>
		<class>Retailon_Storeconf_Model_Mysql4</class>
		<entities>
			  <storeconf>
				<table>retailon_seller_settings</table>
			  </storeconf>
		</entities>
	  </storeconf_mysql4>
	</models>
	<resources>
	  <storeconf_setup>
		<setup>
		  <module>Retailon_Storeconf</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </storeconf_setup>
	  <storeconf_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </storeconf_write>
	  <storeconf_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </storeconf_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <storeconf>
	    <use>admin</use>
		<args>
		  <module>Retailon_Storeconf</module>
		  <frontName>admin_storeconf</frontName>
		</args>
	  </storeconf>
	</routers>
  </admin>
  <adminhtml>
	<!--<menu>
	  <storeconf module="storeconf">
		<title>Storeconf</title>
		<sort_order>100</sort_order>
		<children>
		  <storeconf module="storeconf">
		    <title>Manage Storeconf</title>
			<sort_order>0</sort_order>
			<action>admin_storeconf/adminhtml_storeconf</action>
		  </storeconf>
		</children>
	  </storeconf>
	</menu>-->
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<!--<admin>
		  <children>
			<storeconf translate="title" module="storeconf">
			  <title>Storeconf</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <storeconf translate="title">
			<title>Manage Storeconf</title>
			<sort_order>0</sort_order>
		  </storeconf>
			  </children>
			</storeconf>
		  </children>
		</admin>-->
	  </resources>
	</acl>
	<layout>
	  <updates>
		<storeconf>
		  <file>storeconf.xml</file>
		</storeconf>
	  </updates>
	</layout>
  </adminhtml>
</config>