<?xml version="1.0"?>
<config>
    <modules>
        <Retailon_Bulkimageupload>
            <version>0.1.0</version>
        </Retailon_Bulkimageupload>
    </modules>
    <admin>
        <routers>
            <upload>
                <use>admin</use>
                <args>
                    <module>Retailon_Bulkimageupload</module>
                    <frontName>upload</frontName>
                </args>
            </upload>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <retailon_bulkimageupload>
                    <file>upload.xml</file>
                </retailon_bulkimageupload>
            </updates>
        </layout>

    </adminhtml>
    <global>
        <models>
            <retailon_bulkimageupload>
                <class>Retailon_Bulkimageupload_Model</class>
                <resourceModel>retailon_bulkimageupload_resource</resourceModel>
            </retailon_bulkimageupload>
            <retailon_bulkimageupload_resource>
                <class>Retailon_Bulkimageupload_Model_Resource</class>
            </retailon_bulkimageupload_resource>
        </models>
        <blocks>
            <retailon_bulkimageupload>
                <class>Retailon_Bulkimageupload_Block</class>
            </retailon_bulkimageupload>
        </blocks>
        <helpers>
            <retailon_bulkimageupload>
                <class>Retailon_Bulkimageupload_Helper</class>
            </retailon_bulkimageupload>
        </helpers>
    </global>
</config>